/* You can add global styles to this file, and also import other style files */
.app-title {
    font-size: 2.5em;
    font-style: italic;
    font-family: cur;
}

#sidebar-container {
    display: ;
}